body{
    margin: 0px;
    padding: 0px;
}
.nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    background-color: greenyellow;

    height: 40px;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;


}
.nav:hover{
    color: orangered;
  
}
.nav li{
    background-color: goldenrod;
    padding: 8px;
}
.nav li:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
.nav a{
    text-decoration: none;
    color: white;
    
    
}

